<h1><%- title %></h1>
<div class="flash-message"><%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>
</div>
<div>
    You're logged in
</div>