<h1><%- title %></h1>

<form class="input-box" id="registerForm" action="/account/register" method="POST">
    <fieldset id="accountFieldset">
        <legend>Register</legend>
        <div class="input-group" id="fNameGroup">
            <label for="firstName">First Name:</label>
            <input type="text" name="account_firstname" id="fName" required>
        </div>
        <div class="input-group" id="lNameGroup">
            <label for="lastName">Last Name:</label>
            <input type="text" name="account_lastname" id="lName" required>
        </div>
        <div class="input-group" id="emailGroup">
            <label for="email">Email:</label>
            <input type="email" name="account_email" id="email" required placeholder="Enter a valid email address">
        </div>
        <div class="input-group" id="passwordGroup">
            <label for="password">Password:</label>
            <input type="password" name="account_password" id="accountPassword" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            <small id="passwordNote">*Minimum 12 characters, contain at least one uppercase letter, one number, and one special character.</small>
        </div>
        <button type="submit">Register</button>
    </fieldset>
</form>