
<div id="hero">
    <h1>Welcome to CSE Motors</h1>
    <%- messages() %>
    <section>
        <div id="hero-card">
            <h3>DMC Delorean</h3>
            <p>3 cupholders<br>Superman doors<br>Fuzzy dice!</p>
            <a href="" id="button">Own Today</a>
        </div>
    </section>
    <img alt="Delorean" src="/images/vehicles/delorean.jpg">
</div>
<div id="reviews">
    <h1>DMC Delorean Reviews</h1>
    <ul>
        <li>"So fast it's like traveling in time. (4/5)"</li>
        <li>"We don't need roads! (4.5/5)"</li>
        <li>"I made like a tree, and got out of there (1/5)"</li>
        <li>"When that baby hits 88 mph... (5/5)"</li>
        <li>"My cousin has one, Marvin, Marvin Berry. (4/5)"</li>
    </ul>
</div>
<div id="upgrades">
    <h1>Delorean Upgrades</h1>
    <section id="upgrade-cards">
        <figure>
            <div>
                <img alt="flux capacitor" src="/images/upgrades/flux-cap.png">
            </div>
            <figcaption>
                <a href="">Flux Capacitor</a>
            </figcaption>
        </figure>
        <figure>
            <div>
                <img alt="flame decals" src="/images/upgrades/flame.jpg">
            </div>
            <figcaption>
                <a href="">Flame Decals</a>
            </figcaption>
        </figure>
        <figure>
            <div>
                <img alt="Bumper Stickers" src="/images/upgrades/bumper_sticker.jpg">
            </div>
            <figcaption>
                <a href="">Bumper Stickers</a>
            </figcaption>
        </figure>
        <figure>
            <div>
                <img alt="Hub Caps" src="/images/upgrades/hub-cap.jpg">
            </div>
            <figcaption>
                <a href="">Hub Caps</a>
            </figcaption>
        </figure>
    </section>
</div>