@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
  --primary-color: teal;
  --secondary-color: black ;
  --accent1-color: grey;
  --accent2-color: white;

  --heading-font: 'Montserrat';
  --paragraph-font: 'Montserrat', Helvetica, sans-serif;

  --headline-color-on-white: black; 
  --headline-color-on-color: white; 
  --paragraph-color-on-white: Teal;
  --paragraph-color-on-color: Black; 
  --paragraph-background-color: White;
  --nav-link-color: white;
  --nav-background-color: black;
  --nav-hover-link-color: black;
  --nav-hover-background-color: teal;
}
#wrapper {
  font-family: var(--paragraph-font);
  margin: 0 auto;
}
/* header */
#top-header {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px;
  margin-top: 5px;
  background: white;
}
.siteName {
  grid-column: 1/3;
}
.siteName a {
  color: var(--headline-color-on-white);
  text-decoration: none;
  font-size: 50px;
  font-weight: 600;
}
#tools{
  
  justify-items: right;
}
#tools a{
  text-decoration: none;
  color: var(--paragraph-color-on-color);
  font-size: 20px;
  display: flex;
  width: auto;
}
/* navigation */
nav {
  background-color: var(--secondary-color);
  padding: 5px;

}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 0;
}
nav a{
  color: var(--headline-color-on-color);
  list-style: none;
  text-decoration: none;
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
  border-radius: .25em;
  padding: 5px;
}
/* index */
#hero {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background: white;
}
#hero h1{
  grid-column: 1/6;
}
#hero section {
  grid-column: 1/3;
  grid-row: 2/3;
  color: var(--paragraph-color-on-white);
  z-index: 3;
  justify-items: right;
}
#hero div {
  padding: 10px;
  background: rgba(255,255,255, .8); 
}
#hero h3, p {
  font-weight: bold;
}
#hero div a {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: .25em;
  padding: 5px;
  display: block;
  text-align: center;
  margin: 0 10px 0 10px;
}
#hero img {
  grid-column: 1/6;
  grid-row: 2/3;
  justify-self: center;
  width: 100%;
}

#reviews {
  background: white;
}

#reviews li {
  font-size: medium;
  padding: 5px;
}
#upgrades {
  background: white;
}

#upgrade-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#upgrades figure{
  width: auto;
  margin: 0;
  padding: 5px;
  text-align: center;
}
#upgrades div {
  border: solid var(--accent1-color) 5px;
  background-color: var(--primary-color);
  width: auto;
  height: 100px;
  text-align: center;
  padding: 5px;
}
footer {
  background: white;;
}

/* display pages */

#inv-display {
  display: block;
  padding: 5px;
}
#inv-display li {
  border: solid var(--accent1-color) 2px;
  border-radius: .5em;
  padding: 5px;
  list-style: none;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 100px;
}
#inv-display li img {
  width: 100%;
}
.namePrice {
  display: block;
  justify-content: space-between;
  text-align: center;
  align-items: flex-end;
}
.namePrice span {
  font-weight: bold;
  font-size:larger;
}

.namePrice hr {
  border: solid var(--accent1-color) 2px;
  width: 95%;
  margin: 0 auto;
}

/* detail page */

#detail-display {
  display: block;
  padding: 5px;
}

#detail-display li {
  padding: 5px;
  list-style: none;
  margin: 5px;
}

#detail-display img {
  width: 90%;
  margin: 5px;
}

.detailInfo {
  display: block;
  justify-content: space-between;
}

.detailInfo span {
  font-weight:lighter;
  font-size: Large;
}
.detailInfo button {
  background: var(--accent1-color);
  color: var(--headline-color-on-color);
  border: none;
  border-radius: .25em;
  padding: 5px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
}
.error-container {
  display:grid;
  grid-template-columns: 1fr;
}

/* inventory management */
.addInvLinks {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
  padding: 10px;
  list-style: none;
}
.addLinks {
  padding: 10px;
  font-size: large;
}
#manageInventory {
  grid-row: 3;
}
#manageMessage {
  grid-row: 4
}
#selectClass {
  grid-row: 5;
}
#inventoryDisplay {
  padding: 10px;
  width: 90%;
}

/* login page */ 
.notice {
  color: red;
  list-style: none;
}

input:focus:invalid {
  background-color: rgba(255, 140, 140);
}
input:required:valid {
  background-color: rgb(140, 255, 140);
}

select:focus:invalid {
  background-color: rgba(255, 140, 140);
}
select:required:valid {
  background-color: rgba(140, 255, 140);
}

.input-box {
  width: 480px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  background-color: var(--primary-color);
  border-radius: .5em;
}

#accountFieldset {
  display: grid; 
  grid-template-columns: 1fr;
  border: solid var(--accent1-color) 2px;
  border-radius: .5em;
  padding: 10px;
  margin: 10px;
  font-size: large;
  color: var(--headline-color-on-color)
}

.input-group {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 10px;
}
.input-group small {
  grid-column: 1/3;
  font-size: x-small;
  padding-top: 5px;
}

#accountFieldset button {
  background: var(--accent1-color);
  color: var(--headline-color-on-color);
  border: none;
  border-radius: .25em;
  padding: 5px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
}
#signup {
  color: var(--headline-color-on-color);
  text-align: center;
}
#addDescriptionGroup {
  height: 100px;
}

/* view messages */

#messagesTable {
  width: 100%;
  margin: 10px;
}
#messagesTable td {
  width: auto;
}


@media screen and (min-width: 800px) {
  
  body {
    max-width: 1600px;
    background-image: url(../images/site/small_check.jpg);
    margin: 0 auto;
  }
  #wrapper {
    width: auto;
    background: white;
    margin-top: 20px;
    border: solid 7px var(--primary-color);
    border-radius: 1em;
    Margin: 0 auto;
    padding: 5px;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #hero {
    grid-column: 1/3;
  }
  #hero img {
    max-width: 800px;
  }
  #hero-card {
    width: 200px;
    height: 70%;
  }
  #reviews {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #reviews li {
    font-size: 22px;
    padding: 10px;
  }
  #upgrades {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  /* large management display */
  .addInvLinks {
    grid-column: 1;
    grid-row: 2;
  }

  /*large inv display*/

  #inv-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
    grid-row: 2;
    grid-column: 1/3;
  }
  /* large detail display */
  #detail-display {
    grid-row: 2;
    grid-column: 1/3;
  }

  #detail-display li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
  }
  .detailInfo {
    grid-column: 2/3;
  }
  /* large login page */
  .input-box {
    grid-column: 1/3;
    grid-row: 3;
    margin: 0 auto;
    width: 50%;
    min-width: 480px;
    max-width: 800px;
  }
  #updatePassword {
    grid-row: 4;
    grid-column: 1/3;
    margin: 0 auto;
    width: 50%;
    min-width: 480px;
    max-width: 800px;
    margin-top: 10px;
  }
  .flash-message {
    grid-row: 2;
    grid-column: 1/3;
    margin: 0 auto;
  }

  #manageInventory {
    grid-row: 3;
  }
  #manageMessage {
    grid-row: 4
  }
  #selectClass {
    grid-row: 5;
  }
  #inventoryDisplay {
    grid-row: 3/6;
  }

  #deleteMessage {
    font-size: large;
    grid-row: 2;
    grid-column: 1/3;
    margin: 0 auto;
    padding: 5px;
  }

  /* large account management screen */
  #loginWelcome {
    grid-row: 2;
    grid-column: 1/2;
  }
  #updateTitle {
    grid-row: 3;
    grid-column: 1/2;
  }
  #updateAccount {
    grid-row: 4;
    grid-column: 1/2;
  }
  #invTitle {
    grid-row: 3;
    grid-column: 2/3;
  }
  #updateInv {
    grid-row: 4;
    grid-column: 2/3;
  }
  #messages {
    grid-row: 5;
    grid-column: 2/3;
  }
  
  #messagesTable {
    grid-column: 1/3;
    grid-row: 2;
  }

}


